
/* Generall options */

html {
    margin:    100px;
    max-width: 1200px;
}


/**/
body, .row {
  background-color: rgba(255, 255, 255, 1);
  font-size: 14px;
}

/* Logo and image options */
#RFlogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8;
}